#config {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #72395e;
    margin-top: 10%;
}
.bot {
    margin-left: 25%;
    margin-right: 25%;
    --border-radius: 100px;
    width: 50%;
    right: 7%;
    top: 10%;
    margin-top: 10%;
    color: #e283f2;
    --background: white;
}
