<ion-header>
  
</ion-header>

<ion-content>
  <h1 id="config">Configurações</h1><!--Título da página.-->
    <ion-button class="bot">Tamanho da Letra</ion-button><!--Botão que altera o tamanho da letra.-->

    <ion-button class="bot">Locais Favoritos</ion-button><!--Botão de verificação de locais favoritos.-->

    <ion-button class="bot" >Perfil</ion-button><!--Botão para acessar a página de perfil.-->

    <ion-button class="bot" >Configurações</ion-button><!--Botão para acesso da página de Configurações.-->

    <ion-button class="bot" >Configurações</ion-button>
</ion-content>