ion-contention-toolbar {
  --background: translucent;
}
#email {
  margin-left: 15%;
  margin-right: 20%;
  width: 70%;
  height: 7%;
  border-radius: 100px;
  margin-top: 8%;
  text-align: center;
}
#password {
  margin-left: 15%;
  margin-right: 25%;
  width: 70%;
  height: 7%;
  border-radius: 100px;
  margin-top: 8%;
  text-align: center;
}
#bot {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  height: 10%;
  border-radius: 100px;
  margin-top: 8%;
  text-align: center;
}
#botCad {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 8%;
  text-align: center;
}
#esqueciSenha {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}
#logo {
  position: absolute;
  width: 100%;
  height: 50%;
  margin-left: 12%;
  top: 10%;

  font-family: Rambla;
  font-style: normal;
  font-weight: normal;
  font-size: 10%;
  line-height: 10%;

  color: #dffcd2;

  text-shadow: 0%4%10%rgba (0, 0, 0, 0.25);
}

#risco {
  position: absolute;
  width: 10%;
  height: 10%;
  margin-left: 25%;
  margin-right: 25%;
  top: 10%;
  border: 3% solid #FFFFFF;
}

ion-content {
  --background: linear-gradient(360deg, #d7fdff 0%, #faddff 100%), #faddff;
}
