ion-contention-toolbar {
    --background: translucent;
}
ion-content {
    --background: linear-gradient(360deg, #d7fdff 0%, #faddff 100%), #faddff;
}
ion-toolbar {
    --background: linear-gradient(360deg, #d7fdff 0%, #faddff 100%), #faddff;
}
#nome {
    margin-left: 15%;
    margin-right: 25%;
    width: 70%;
    height: 5%;
    border-radius: 100px;
    margin-top: 8%;
    text-align: center;
}
#bairro {
    margin-left: 15%;
    margin-right: 25%;
    width: 70%;
    height: 5%;
    border-radius: 100px;
    margin-top: 8%;
    text-align: center;
}
#numero {
    margin-left: 15%;
    margin-right: 25%;
    width: 70%;
    height: 5%;
    border-radius: 100px;
    margin-top: 8%;
    text-align: center;
}
#cep {
    margin-left: 15%;
    margin-right: 25%;
    width: 70%;
    height: 5%;
    border-radius: 100px;
    margin-top: 8%;
    text-align: center;
}
#botao {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: 50px;
    border-radius: 100px;
    margin-top: 8%;
}
