<ion-header>
  <ion-toolbar>
    <ion-title>Edição de Local</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onFormSubmit(form)" #form="ngForm">

    <ion-item lines="full" id="nome">
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" ngModel name="nome" required value={{local.nome}}></ion-input>
    </ion-item>

    <ion-item lines="full" id="bairro">
      <ion-label position="floating">Bairro</ion-label>
      <ion-input type="text" ngModel name="bairro" required value={{local.bairro}}></ion-input>
    </ion-item>

    <ion-item lines="full" id="numero">
      <ion-label position="floating">Número</ion-label>
      <ion-input type="text" ngModel name="numero" required value={{local.numero}}></ion-input>
    </ion-item>

    <ion-item lines="full" id="cep">
      <ion-label position="floating">Cep</ion-label>
      <ion-input type="text" ngModel name="cep" required value={{local.cep}}></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" size="large" expand="block" id="botao">Editar</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>